{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for product in products %}
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img style="width: 300px; height: auto;" src="{{ product.image.url }}" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'detail' product.id %}">{{ product.name }}</a></h5>
        <p class="card-text">{{ product.description | truncatewords:10 }}</p>
          {% if product.status == 'in stock' %}
        <p style="color: green" class="card-text">в наличии</p>
          {% elif product.status == 'out of stock' %}
           <p style="color: red" class="card-text">нет в наличии</p>
          {% else %}
           <p style="color: blue" class="card-text">ожидается</p>

          {% endif %}
        <a href="{% url 'cart_add' product.id %}">Add To Cart</a>
      </div>
    </div>
  </div>
</div>
    {% endfor %}
{% if is_paginated %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="{% url 'list' category %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="{% url 'list' category %}?page={{ page_obj.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}
